@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

html {
  background-color: white;
  padding-left: 20px;
}

img{
  border-radius: 30px;
}

h1 {
  font-family: "Poetsen One", sans-serif;
}

#mem2pic {
  width: 300px;
  height: 180px;
  margin: 25px;
  background-color: orange;
  padding: 15px;
}

#mem1pic {
  height: 300px;
}

#mem3pic {
  height: 300px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  background-color: rgb(250, 249, 222);
  padding: 10px;
  border: 20px ridge;
}
